<footer class="text-lg-start bg-light text-muted w-100 mt-3 shadow-lg">
  <section class="p-2 d-flex border-top justify-content-center align-content-center flex-wrap-reverse">
    <!-- Left -->
    <div class="mx-3 d-md-block">
      <span>© {{ currentDate | date:'YYYY' }} Copyright: Bookstore</span>
    </div>
    <!-- Left -->
    <!-- Right -->
    <div class="mx-3 ms-sm-auto">
      <a href="#"><i class="fa-brands fa-facebook text-muted fs-3 px-3"></i></a>
      <a href="#"><i class="fa-brands fa-instagram text-muted fs-3 px-3"></i></a>
      <a href="#"><i class="fa-brands fa-youtube text-muted fs-3 px-3"></i></a>
    </div>
    <!-- Right -->
  </section>
</footer>
