<form #form="ngForm">
  <div class="mb-4 w-100 d-flex justify-content-center">
    <h5 class="display-6">LOGIN</h5>
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Login</label>
    <input type="number" name="login" class="form-control" aria-describedby="loginHelpId" placeholder="1234567" [(ngModel)]="login">
    <small id="loginHelpId" class="form-text text-muted">Provide your user number</small>
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Password</label>
    <input type="password" name="pwd" class="form-control" placeholder="Your top secret password" [(ngModel)]="password">
  </div>
  <div class="mt-4 d-flex justify-content-between">
    <button class="btn text-muted" (click)="form.reset()">Clear data</button>
    <button class="btn btn-light" (click)="loginUser()">Login</button>
  </div>
</form>
