<div class="row w-100 p-0 m-0" @fadeIn>
  <div class="col-md-3 rounded p-3">
    <div class="col-md-12 p-0">
      <!-- MENU LIST -->
        <app-book-categories [bookCategories]="bookCategories" (emitCategory)="assignCategory($event)"></app-book-categories>
      <!-- MENU LIST -->
    </div>
  </div>
  <div class="col-md-9">
    <div class="col-12 rounded-3 p-3">
      <div class="row w-100">
        <div class="col-md-3 col-sm-4 my-2 p-2" *ngFor="let book of availableBooks | bookCategoryFilter: categoryFilter">
          <a href="#" [routerLink]="['/bookdetails/' + book.id]">
            <app-book-list-item [book]="book" @fadeIn></app-book-list-item>
          </a>
          <div class="w-100 d-flex justify-content-between align-items-center">
            <p class="muted m-2 ms-2">{{ book.price }} $</p>
            <button *ngIf="isLoggedIn" class="btn" (click)="reserveBook(book)"><i class="fa-solid fa-cart-shopping"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
