<div class="row m-0 p-0 h-100">
  <div class="col-md-3 h-100">
    <div class="container h-100">
      <div class="row h-75 border border-2 rounded-4">
        <img [src]="book.image" alt="" width="100%" height="100%">
      </div>
      <div class="row h-lg-25">
        asdasd
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="container">
      <div class="row">
        <h4><b>{{ book.title }}</b></h4>
        <h6 class="text-muted">{{ book.author }}</h6>
      </div>
    </div>
  </div>
</div>
