<div class="h-100">
  <div class="row h-100 m-0 p-3">
    <div class="col-md-3 p-3 mobile-fit-image d-flex justify-content-start align-items-center flex-column">
      <div class="h-75  mobile-fit-img">
        <img [src]="book.image" class="border border-2 rounded-4 shadow" alt="" width="100%" height="100%">
      </div>
      <div class="w-100 h-auto p-4 d-flex justify-content-start align-items-center flex-column mobile-fit-title">

        <div class="w-75 d-flex justify-content-center align-items-center"><ngb-rating [(rate)]="book.opinion" [max]="10" [readonly]="true"></ngb-rating></div>
        <div class="w-50 d-flex justify-content-between align-items-center mt-2">
          <p>Rating:</p>
          <p>{{ book.opinion }}/10</p>
        </div>
      </div>
    </div>
    <div class="col-md-9 p-3">
      <div class="row w-100 h-100">
        <div class="col-md-6">
          <h1 class="text-uppercase">{{ book.title }}</h1>
          <h5 class="text-uppercase text-muted">{{ book.author }}</h5>
          <hr>
          <p class="mt-md-4">{{ book.description }}</p>
        </div>
        <div class="col-md-6">
          <div class="row h-100 d-flex flex-column">
            <div class="w-100 h-50 px-2 d-flex flex-column">
              <h5>Readers' opinions</h5>
              <div class="flex-grow-1 py-1 mb-2 overflow-auto">
                <app-book-opinions class="w-100"></app-book-opinions>
              </div>
            </div>
            <div class="w-100 h-50">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
